# Build artifacts
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider / JetBrains
.idea/

# Logs
*.log

# Test results
TestResult*/
*.trx
*.coverage
*.coveragexml
